.fc-daygrid-day-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
 }
 
 .fc .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    text-decoration: none;
    width: 100%;
    color: rgb(141 149 168);
 }
 
 .fc-list-day-text{
     color: rgb(141 149 168);
     text-decoration: none;
  }
 
/* no need this
.fc .fc-timegrid-axis-cushion,
.fc .fc-timegrid-slot-label-cushion {
   padding: 0px 4px !important;
   height: 6rem !important;
} */




.fc-timegrid-event,
.fc-timegrid-more-link {
   border-radius: 0px;
   font-size: 1.5rem !important;
   height: 100%;
}

.fc-event-title-container,
.fc-event-time {
   text-align: center !important
   ;
}
.fc-timegrid-event .fc-event-time {
   font-size: 1.5rem !important;

}
.fc-timegrid-slot {
   cursor: pointer;
}

.fc-scrollgrid-sync-inner {

   border-color: #f75196 !important;
}


#calendar .fc-daygrid-day:hover {
   background-color: lightblue;
   /* Change background color on hover */
}

/* Minimalist styling for FullCalendar */


.fc-timegrid-slot:hover {
   background-color: lightblue;

}




/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
   .calendar {
      flex: 100%;
      /* Each calendar takes up 100% of the container width */
   }
}

#calendar {
   max-width: 550px;
   margin: 40px auto;
   font-family: Arial, sans-serif;
}

.fc .fc-col-header-cell-cushion {
   display: inline-block;
   padding: 2px 4px;
   text-decoration: none;
   color: rgb(141 149 168);

}

@media (min-width: 768px) {
   .container {
      max-width: 100% !important;
   }

}


@media (min-width: 576px) {
   .container {
      max-width: 100% !important;
   }

}

.fc .fc-daygrid-day-number {
   padding: 4px;
   position: relative;
   z-index: 4;
   text-decoration: none
}

.fc table {
   border-collapse: collapse;
   border-spacing: 0px;
   font-size: 1.5rem;

}



/* Responsive styling */

@media screen and (max-width: 768px) {

   
   #calendar {
      margin: 5px auto;
   }

   .fc-daygrid-day-content {
      flex-direction: column;

   }

   .fc .fc-daygrid-day-number {
      width: 100%;
   }

   .fc table {
      border-collapse: collapse;
      border-spacing: 0px;
      font-size: 1rem;
   }
}

@media screen and (max-width: 540px) {

   


   .fc table {
      border-collapse: collapse;
      border-spacing: 0px;
      font-size: .7rem;

   }
}


/* CSS for the button */
