
/* Define the keyframes for the fade-in effect */
@keyframes fadeInUp {
    from {
      opacity: 0; /* Start from fully transparent */
      transform: translateY(50px); /* Start from 20px below its final position */
    }
    to {
      opacity: 1; /* Fade in to fully opaque */
      transform: translateY(0); /* End at its final position */
    }
  }
  
  .home-bg {
    background: url('../images/spa-bg.png') no-repeat center/cover; /* Shorthand for setting background properties */
     /* Create the parallax scrolling effect */
     
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  }
 
 .home-bg .home .slide{
    animation: fadeInUp 2s ease-in-out 0s 1 normal forwards; /* Apply the fadeIn animation */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
    user-select: none;
 }
 
 .home-bg .home .slide .image{
    flex:1 1 40rem;
 }
 
 .home-bg .home .slide .image img{
    height: 40rem;
    width: 100%;
    object-fit: contain;
 }
 
 .home-bg .home .slide .content{
    flex:1 1 40rem;
    
 }
 
 .home-bg .home .slide .content span{
    
    font-size: 2rem;
    color:var(--white);
 }
 
 .home-bg .home .slide .content h3{
    margin-top: 2rem;
    font-size: 5rem;
    color:var(--white);
    text-transform: capitalize;
 }
 
 .home-bg .home .slide .content .btn{
    display: inline-block;
    width: auto;
 }
 