
.-bg {
    background: url('../images/spa-bg.png') no-repeat center/cover; /* Shorthand for setting background properties */
     /* Create the parallax scrolling effect */
     
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     height: 94vh;
     
  }
 
 .-bg . .slide{
    animation: fadeInUp 1s ease-in-out 0s 1 normal forwards; /* Apply the fadeIn animation */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
    user-select: none;
 }
 
 .-bg . .slide .image{
    flex:1 1 40rem;
   
 }
 
 .-bg . .slide .image img{
    height: 40rem;
    width: 100%;
    object-fit: contain;
 }
 
 .-bg . .slide .content{
    flex:1 1 40rem;
    
 }
 
 .-bg . .slide .content span{
    
    font-size: 3rem;
    color:var(--white);
 }
 
 .-bg . .slide .content h3{
    margin-top: 15rem;
    font-size: 8rem;
    color:var(--white);
    text-transform: capitalize;
    font-weight: bold;
 }
 
 .-bg . .slide .content .btn{
    display: inline-block;
    width: auto;
    margin-top: 5rem;
    font-size: 2rem;
 }